- page_title 'Geo nodes'
%h3.page-title
  Geo Nodes

%p.light
  With #{link_to 'GitLab Geo', help_page_path('gitlab-geo/README'), class: 'vlink'} you can install a special
  read-only and replicated instance anywhere.

%hr

= render :partial => 'form', locals: {geo_node: @node} if Gitlab::Geo.license_allows?

-if @nodes.any?
  .panel.panel-default
    .panel-heading
      Geo nodes (#{@nodes.count})
    %ul.well-list
      - @nodes.each do |node|
        %li
          .list-item-name
            %span
              = node.primary ? icon('star fw') : icon('globe fw')
            %strong= node.url
            %p
              %span.help-block #{node.primary ? 'Primary node' : 'Secondary node'}

          .pull-right
            - if Gitlab::Geo.license_allows?
              - if node.missing_oauth_application?
                = link_to repair_admin_geo_node_path(node), method: :post, title: 'OAuth application is missing', class: 'btn btn-default btn-sm prepend-left-10' do
                  = icon('exclamation-triangle fw')
                  Repair authentication
              - unless node.primary?
                = link_to backfill_repositories_admin_geo_node_path(node), method: :post, class: 'btn btn-primary btn-sm prepend-left-10' do
                  = icon 'map-signs'
                  Backfill all repositories
            = link_to admin_geo_node_path(node), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-remove btn-sm prepend-left-10' do
              = icon 'trash'
              Remove
